@tailwind base;
@tailwind components;
@tailwind utilities;

nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
  }
  
  nav ul li a {
    text-decoration: none;
    color: blue;
  }
  
  nav ul li a:hover {
    text-decoration: underline;
  }
  