@tailwind base;
@tailwind components;
@tailwind utilities;

nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  padding: 0;
}

nav ul li {
  display: inline;
}

nav ul li a {
  text-decoration: none;
  color: blue;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* General Styles */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

/* App Container */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Header */
.app-header {
  background-color: #0871c7;
  color: white;
  padding: 1rem;
  text-align: center;
}

.app-header h1 {
  margin: 0;
  font-size: 2rem;
}

.app-nav ul {
  list-style-type: none;
  padding: 0;
  margin: 1rem 0 0;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.app-nav ul li {
  display: inline;
}

.app-nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s ease;
}

.app-nav a:hover {
  color: #ffcc00;
}

/* Main Section */
main {
  flex: 1;
  padding: 2rem;
  text-align: center;
}

/* Footer */
.app-footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 0.5rem;
  font-size: 0.9rem;
}

.category-picker{
  min-height: 100px;
  width: 400px;
  background-color: white;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border-radius: 20px;
}

.cat-item{
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.cat-check{
  width: 20px;
  height: 20px;
  pointer-events: none;
}

